.main{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
    padding: 2rem;
}
.button{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 2rem;
}
.login {
    color: #d32f2f;
    font-weight: bolder;
    transition: 0.1s;
}
