.container {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: #ffffffea;
    z-index: 9889;
    top: 0;
    left: 0;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.img {
    height: 20rem;
}

.loading {
    font-size: 3rem;
    color: rgb(97, 74, 74);
}

hr{
    position:relative;
    top: -2.4rem;
    width: 20rem;
    height: 0.5rem;
    background-color: brown;
}