.main{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap : 2rem
}

::-webkit-scrollbar {
    display: none;
}

.tags{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    position: relative;
    top: 0.5rem;
    overflow: scroll;
}

@media only screen and (min-width: 600px) {
    .tags {
        justify-content: center;
    }
}

.email_verification {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: fit-content;
    padding-top : 1.5rem;
}